.special{

    &_section{
        //background-color: $dark-light;
        padding: 125px;
    }

    &_item{
        width: calc(100% / 3);
        padding: 0 15px;

        & img{
            width: 100%;
        }

        &_info{
            padding: 15px;
            text-align: center;

            & h2{
                font-size: 18px;
                text-transform: capitalize;
                margin: 0 0 10px;
            }

            & h2{
                text-transform: capitalize;
            }
        }
    }
    
}